<!DOCTYPE html>
<html>
  <head>
    <title>Dtester</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>This is a Docker Tester</h1>
    <h4>I have no idea what I'm doing.</h4>
    <%= yield %>
  </body>
</html>
